@font-face {
    font-family: my-font;
    src: url(.font/Norse-Bold.otf);
}

* {
    font-family: my-font, sans-serif;
}

.content {
    display: flex;
    flex-direction: row;
}

.picture {
    display: flex;
    min-width: 40vw;
    height: 95vh;
    margin: 1% 1% 1% 1%;
    align-content: center;
    justify-content: center;
    background: url(img/background2.jpeg);
    background-size: cover;
    background-position: center;
}

.logo-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: white;
}

.logo {
    height: 8vh;
}

.rightside {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.message {
    display: flex;
}

.form_title {
    width: 100%;
    margin-bottom: 1%;
}
.form_subtitle {
    font-size: 0.8rem;
    font-weight: 700;
    color: red;
    width: 100%;
    margin-top: 0px;
}

.form_right {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
}

.button {
    width: 20%
}