@font-face {
    font-family: my-font;
    src: url(.font/Norse-Bold.otf);
}

* {
    font-family: my-font, sans-serif;
}

.content {
    display: flex;
    flex-direction: row;
}

.picture {
    display: flex;
    min-width: 40vw;
    height: 95vh;
    margin: 1% 0.5% 1% 1%;
    align-content: center;
    justify-content: center;
    background: url(img/background2.jpeg);
    background-size: cover;
    background-position: center;
}

.logo-container {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 1%;
    margin-top: 20vh;
    background-color: rgba(37, 37, 37, 0.7);
    min-width: 40vw;
    gap: 1vw;
}

.logo {
    display: flex;
    flex-flow: row wrap;
    top: 20vh;
    height: 10vh;
}

.logo-text {
    font-size: 42px;
}
.rightside {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: rgb(66, 65, 65);
    height: 95vh;
    margin: 1% 1% 1% 0.5%;
    padding-left: 2vw;
    padding-right: 2vw;
    color: rgb(215, 215, 215);
}

.message {
    display: flex;
}

.form_title {
    width: 100%;
    margin-bottom: 1%;
}
.form_subtitle {
    font-size: 0.8rem;
    font-weight: 700;
    color: red;
    width: 100%;
    margin-top: 0px;
}

.form_right {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;
    box-shadow: 0 10px 20px -2px rgb(22 22 22);
}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    gap: 4px;
    margin-top: auto;
}

.button {
    width: 20%;
    padding-top: 10px;
    padding-left: 2vw;
}